* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.searchInventory {
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 650px) {
  .searchInventory {
    display: block;
    margin: 20px auto;
  }
}
